################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Floral_Shop/.vs/Floral_Shop/FileContentIndex/97642e29-886c-43db-866c-453f80941bf0.vsidx
/Floral_Shop/.vs/Floral_Shop/FileContentIndex
