@model IEnumerable<Product>

<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <span>
                    Java Florist
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                    <ul class="navbar-nav  ">
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="About"> About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="User" asp-action="Gallery"> Gallery </a>
                        </li>

                    </ul>
                </div>
                <div class="quote_btn-container ">
                    <a asp-controller="User" asp-action="Index">
                        Log Out
                    </a>
                    <a href="">
                        <img src="images/cart.png" alt="">
                    </a>
                    <form class="form-inline">
                        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>
  <!-- gallery section -->
  <section class="gallery_section layout_padding">

    <div class="heading_container justify-content-center">
      <h2>
        Our Gallery
      </h2>
    </div>
    <div class="container">
      <div class="container">
        <div class="row">
            @foreach (var item in Model)
{
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="@item.ImageURL" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                 <h6 class="card-body">@item.Price</h6>
                  <a  class="btn btn-primary">Add to cart</a>
              </div>
            </div>
          </div>
          }
          
          </div>
        </div>
      </div>
  </div>
  </section>
  <!-- end gallery section -->

