@{
    ViewData["Title"] = "Home Page";
}

<!-- slider section -->
<section class=" slider_section position-relative">
    <div class="slider_number-container ">
        <div class="number-box">
            <span>
                01
            </span>
            <hr>
            <span>
                02
            </span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-lg-6 col-md-8">
                            <div class="detail_box">
                                <h3>
                                    Welcome
                                </h3>
                                <h1>
                                    Java Florist
                                </h1>
                                <h2>
                                    Flower Shop
                                </h2>
                                <p>
                                    From the comfort of your screen, a garden awaits, where blooms of every hue beckon with their beauty, ready to be plucked and delivered with care, ensuring smiles bloom miles away.
                                    <div>
                                        <a href="./gallery.html">Buy Now</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-6 col-md-8">
                            <div class="detail_box">
                                <h3>
                                    Welcome
                                </h3>
                                <h1>
                                    Java Florist
                                </h1>
                                <h2>
                                    Flower Shop
                                </h2>
                                <p>
                                    From the comfort of your screen, a garden awaits, where blooms of every hue beckon with their beauty, ready to be plucked and delivered with care, ensuring smiles bloom miles away.
                                    <div>
                                        <a href="./gallery.html">Buy Now</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-lg-6 col-md-8">
                            <div class="detail_box">
                                <h3>
                                    Welcome
                                </h3>
                                <h1>
                                    Java Florist
                                </h1>
                                <h2>
                                    Flower Shop
                                </h2>
                                <p>
                                    From the comfort of your screen, a garden awaits, where blooms of every hue beckon with their beauty, ready to be plucked and delivered with care, ensuring smiles bloom miles away.
                                    <div>
                                        <a href="./gallery.html">Buy Now</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel_btn-container">
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- end slider section -->
  </div>

<!-- about section -->
<section class="about_section ">
    <div class="section_number">
        01
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-7">
                <div class="img-box">
                    <img src="~/shop/images/about-img.png" alt="" />
                </div>
            </div>
            <div class="col-md-5 col-xl-5">
                <div class="detail_box">
                    <div class="heading_container justify-content-end">
                        <h2>
                            About Flowers
                        </h2>
                    </div>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since ever since
                        ever since
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end about section -->
<!-- why section -->
<section class="why_section layout_padding">
    <div class="section_number">
        02
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>
                    Why Choose Us
                </h2>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                    Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
                    Hampden-Sydney College in Virginia, looked up one of the more obscure Latin wordsContrary to popular belief,
                    Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC,
                    making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                    looked up one of the more obscure Latin words
                </p>
                <div>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end why section -->
<!-- gallery section -->
<section class="gallery_section layout_padding">
    <div class="section_number">
        03
    </div>
    <div class="heading_container justify-content-center">
        <h2>
            Our Gallery
        </h2>
    </div>
    <div class="container">
        <div class="img_container">
            <div class="box-1">
                <div class="box-1-container">
                    <div class="b-1">
                        <div class="img-box">
                            <img src="~/shop/images/b-1.jpg" alt="">
                        </div>
                        <div class="img-box">
                            <img src="~/shop/images/b-4.jpg" alt="">
                        </div>
                    </div>
                    <div class="b-2">
                        <div class="img-box">
                            <img src="~/shop/images/b-2.jpg" alt="">
                        </div>
                        <div class="img-box">
                            <img src="~/shop/images/b-5.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>
            <div class="box-2">
                <div class="img-box">
                    <img src="~/shop/images/b-3.jpg" alt="">
                </div>
                <div class="img-box">
                    <img src="~/shop/images/b-6.jpg" alt="">
                </div>
            </div>
        </div>
</section>
<!-- end gallery section -->
<!-- client section -->

<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container justify-content-center">
            <h2>
                What Our Customers Say
            </h2>
            <div class="section_number">
                04
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="client_box">
                    <div class="detail_box">
                        <div class="img_box">
                            <img src="~/shop/images/client-1.png">
                        </div>
                        <h5>
                            nomil du
                        </h5>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="client_box">
                    <div class="detail_box">
                        <div class="img_box">
                            <img src="~/shop/images/client-2.png">
                        </div>
                        <h5>
                            zabih jo
                        </h5>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- end client section -->
<!-- arrange section -->

<section class="arrange_section">
    <div class="container">
        <div class="detail_box">
            <h2>
                Our Wonderful Arrangements
            </h2>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
                literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                College in Virginia, looked up one of the more obscure Latin words
            </p>
        </div>
    </div>
</section>



<!-- end arrange section -->
    